{{ if (eq .chezmoi.os "darwin") }}
{{- template "zenv" "zprofile" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/opt/homebrew/bin/mise activate --shims zsh)"

[[ -f /opt/homebrew/opt/asdf/libexec/asdf.sh ]] && . /opt/homebrew/opt/asdf/libexec/asdf.sh
{{ end }}
