{{ if (eq .chezmoi.os "darwin") }}
{{- template "zenv" "zprofile" -}}
# Load direnv. Use the full path on mac because :hankey:
# https://github.com/Homebrew/legacy-homebrew/issues/44997#issuecomment-148630030 Also load local
# configuration (provided files exist).
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/opt/homebrew/bin/direnv hook zsh)"

[[ -f /opt/homebrew/opt/asdf/libexec/asdf.sh ]] && . /opt/homebrew/opt/asdf/libexec/asdf.sh
{{ end }}
