# vim: ft=gitconfig

[user]
	name = Fran Casas
	email = nflamel@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = nvim
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[apply]
	whitespace = fix
[format]
	pretty = %Cred%h%Creset - %s%nby %C(bold blue)%an <%ae>%Creset %C(yellow)%d%Creset%non %Cgreen(%cD)%n%b
[alias]
	amend = commit --amend --no-edit
	co = checkout
	l = ll -n 10
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)'
	lll = log --graph
	s = status --short -b
	last = diff HEAD~1
	wtf = log -p --word-diff
[push]
	default = current
[rebase]
	autosquash = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
{{if (eq .chezmoi.os "darwin") -}}
[credential]
	helper = osxkeychain
{{ end -}}
[include]
	path = ~/.gitconfig_local
