# vim: ft=sh

# This file is meant to load only things which are needed on an interactive
# shell, like customizations, special aliases, etc.

export ZPLUG_HOME=$HOME/.config/zplug
{{ if .arch }}
source /usr/share/zsh/scripts/zplug/init.zsh
{{ else }}
source $ZPLUG_HOME/init.zsh
{{ end }}

zstyle :omz:plugins:ssh-agent agent-forwarding on

zplug "plugins/ssh-agent", from:oh-my-zsh
zplug "zsh-users/zsh-syntax-highlighting"
zplug "zsh-users/zsh-autosuggestions"
zplug "plugins/history-substring-search", from:oh-my-zsh
zplug "zsh-users/zsh-completions"
zplug "plugins/git", from:oh-my-zsh
zplug "modules/history", from:prezto
zplug "modules/directory", from:prezto
zplug "$HOME/.config/zplugins/alias", from:local
zplug "$HOME/.config/zplugins/editor", from:local
zplug "$HOME/.config/zplugins/starthip_init", from:local
zplug "$HOME/.config/zplugins/zoxide", from:local
zplug "$HOME/.config/zplugins/golang", from:local
zplug "$HOME/.config/zplugins/codespaces", from:local

# Only perform the zplug check during bootstrapping
if [ -v CODESPACES ] ; then
  if ! zplug check --verbose; then
    zplug install
  fi
fi

zplug load # --verbose

# Load local zshrc in case it exists
[[ -f $HOME/.zshrc_local ]] && source $HOME/.zshrc_local
