{{- if .codespaces -}}
#!/bin/sh

set -e

echo "Installing: dependencies with apt ********************"
sudo apt update && sudo apt install -y ripgrep fd-find busybox universal-ctags

echo "Installing: starship ********************"
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --yes
sudo chsh -s /bin/zsh $(whoami)

echo "Installing: nvim ********************"
pip3 install --user pynvim
curl -LO https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage
chmod u+x nvim.appimage
./nvim.appimage --appimage-extract
./squashfs-root/AppRun --version
sudo mv squashfs-root / && ln -s /squashfs-root/AppRun $HOME/.local/bin/nvim

echo "Installing: alacritty terminfo ********************"
# from https://github.com/alacritty/alacritty/issues/2838#issuecomment-1032517876
wget https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info
for tic in /usr/bin/tic tic
do
    $tic -xe alacritty,alacritty-direct - < alacritty.info && break
done
rm alacritty.info
{{end -}}
