{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

set -e

pip3 install --user pynvim

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "franciscoj/remote-development-manager"
brew "autoconf"
brew "bash"
brew "bat"
brew "coreutils"
brew "direnv"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git-extras"
brew "gnu-sed"
brew "gnupg"
brew "htop"
brew "hub"
brew "imagemagick"
brew "jq"
brew "neovim"
brew "openssl"
brew "python"
brew "remote-development-manager"
brew "ripgrep"
brew "starship"
brew "stylua"
brew "tmux"
brew "tree"
brew "watchman"
brew "wget"
brew "yarn"
brew "z"
brew "zplug"
brew "zsh"
cask "adobe-acrobat-reader"
cask "docker"
cask "firefox-developer-edition"
cask "font-jetbrains-mono-nerd-font"
cask "gimp"
cask "iterm2"
cask "obsidian"
cask "raycast"
cask "slack"
cask "telegram"
cask "visual-studio-code"
cask "zoom"
cask "zsa-wally"
EOF

{{ end -}}

