{{- if .codespaces -}}
#!/bin/sh

set -e

echo "Installing: dependencies ********************"
sudo apt update && sudo apt install -y ripgrep fd-find tmux busybox

echo "Installing: tmux plugins ********************"
~/.tmux/plugins/tpm/bin/install_plugins

echo "Installing: bootstrapping neovim plugins ********************"
~/.local/bin/nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
{{end -}}
