{{ if .arch -}}
#!/bin/bash

echo "Installing: Arch packages ********************"
{{ range .packages.arch.ensure -}}
if paru -Qi {{.}} > /dev/null ; then
  echo "Ignoring {{.}} as it was installed already"
else
  echo "Installing {{.}}..."
  paru -S {{.}} 
fi

{{ end -}}

echo "Cleanup: Removing unnecessary Arch packages ********************"
{{ range .packages.arch.remove -}}
if paru -Qi {{.}} > /dev/null ; then
  echo "Uninstalling {{.}}..."
  paru -R {{.}} 
else
  echo "Ignoring {{.}} as it wasn't installed"
fi
{{end -}}
{{ end -}}
