#!/bin/sh

{{- if (eq .chezmoi.os "darwin") }}
set -e

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.darwin.tap }}
tap {{ . | quote }}
{{- end }}
{{- range .packages.darwin.ensure.brew }}
brew {{ . | quote }}
{{- end }}
{{- range .packages.darwin.ensure.cask }}
cask {{ . | quote }}
{{- end }}
EOF

echo "Removing..."
{{- range .packages.darwin.remove }}
brew uninstall {{.}}
{{- end }}

{{- else }}
echo "Not macOS, skipping Homebrew package installation."
{{- end }}
