{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if $codespaces -}}
#!/bin/sh

apt-get install -y exa
curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --yes
chsh -s /bin/zsh root
{{end -}}
