#!/bin/sh

set -e

{{- $codespaces:= env "CODESPACES" | not | not -}}
{{ if $codespaces }}
export PATH="$PATH:$HOME/.local/bin"
{{ end }}

echo "Installing: LunarVim ********************"
curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh | /bin/bash /dev/stdin --no-install-dependencies
