{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if $codespaces -}}
#!/bin/sh

set -e

echo "Installing: dependencies ********************"
sudo apt install -y ripgrep fd-find

echo "Installing: exa ********************"
curl -L https://github.com/ogham/exa/releases/download/v0.10.1/exa-linux-x86_64-v0.10.1.zip -o /tmp/exa.zip
unzip /tmp/exa.zip -d /tmp
cp /tmp/bin/exa $HOME/.local/bin

echo "Installing: zplug ********************"
export ZPLUG_HOME=$HOME/.config/zplug
mkdir -p $ZPLUG_HOME
git clone https://github.com/zplug/zplug $ZPLUG_HOME

echo "Installing: starship ********************"
sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --yes
sudo chsh -s /bin/zsh $(whoami)

echo "Installing: nvim ********************"
pip3 install --user pynvim
curl -LO https://github.com/neovim/neovim/releases/download/stable/nvim.appimage
chmod u+x nvim.appimage
./nvim.appimage --appimage-extract
./squashfs-root/AppRun --version
sudo mv squashfs-root / && ln -s /squashfs-root/AppRun $HOME/.local/bin/nvim
{{end -}}
