//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui true

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false
