[tools]
"npm:prettier" = "latest"
"npm:mcp-hub" = "latest"
go = "latest"
{{- if .arch }}
usage = "latest"
elixir = "1.18.4-otp-28"
erlang = "28.0.2"
node = "lts"
{{- end }}

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["node"]
