snippet befe "beforeEach(() =>..."
beforeEach(() => {
	$0
})

endsnippet

snippet bef "before(() =>..."
before(() => {
	$0
})

endsnippet

snippet afe "afterEach(() =>..."
afterEach(() => {
	$0
})

endsnippet

snippet af "after(() =>..."
after(() => {
	$0
})

endsnippet

snippet it "it('some statement', () =>...)"
it('$1', () => {
	$0
})
endsnippet

snippet des "describe('something', function()...)"
describe('$1', () => {
	$0
})
endsnippet

snippet con "context('something', function()...)"
context('$1', () => {
	$0
})
endsnippet


