snippet % "<%= something %>" i
<% ${VISUAL} %>
endsnippet

snippet = "<%= something %>" i
<%= ${VISUAL} %>
endsnippet

snippet path "Route.some_path(@conn, something)"
Routes.${1:some}_path(@conn${2:,${3: param}})
endsnippet
