snippet wi "wip: commit message"
wip${1:($2)}: $0
endsnippet

snippet fi "fix: commit message"
fix${1:($2)}: $0
endsnippet
	
snippet fe "feat: commit message"
feat${1:($2)}: $0
endsnippet

snippet ch "chore: commit message"
chore${1:($2)}: $0
endsnippet

snippet do "docs: commit message"
docs${1:($2)}: $0
endsnippet

snippet re "docs: commit message"
refactor${1:($2)}: $0
endsnippet
