snippet wi "wip: commit message"
wip:
endsnippet

snippet fi "fix: commit message"
fix:
endsnippet
	
snippet fe "feat: commit message"
feat:
endsnippet

snippet ch "chore: commit message"
chore:
endsnippet

snippet do "docs: commit message"
docs:
endsnippet
