snippet	%= "<%= something %>" i
<%= ${1:content} %>
endsnippet

snippet end "<% end %>"
<% end %>
endsnippet

snippet % "<% something %>" i
<% ${1:content} %>
endsnippet

snippet rc "<%= render(NameComponent.new()) %>"
<%= render(${1:Name}Component.new($2)) %>$0
endsnippet
